/* Universal Styling */
* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

/* Header and Navigational elements */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: darkslategray;
  min-width: max-content;
}

header h1 {
  font-size: 48px;
  background-color: aqua;
}

nav, .topNav {
  display: flex;
  list-style-type: none;
}

nav a, .topNav a {
  color: var(--dark-blue);
  text-decoration: none;
  text-align: center;
}

nav a:hover, .topNav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

/* Hero Banner Styling */
.hero-banner {
  background-image: url(/assets/images/02-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 190px;
  position: relative;
  min-width: max-content;
}

.hero-banner h2 {
  font-size: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 5%;
  text-decoration: brown;
}

/* Main Content */
.container, .workcontainer, .projects, .p0, .project-group, .contact-container {
  flex: auto; 
  justify-content: space-between;
  display: flex;
}


#about h2,
#work h2,
#contact-me h2 {
  display: flex;
  align-items: center;
  border-right-style: solid;
  border-width: 1px;
  border-color: aqua;
  justify-content: left;
  width: 150px;
}

#projects figure img {    /*created to adjust main work pic*/
  display: block;
  width: 75%;
  height: auto;
} 

.project-group {       /*created to adjust secondary  work pic*/

  width: 75%;
  height: auto;

}




.bottomNav {
  flex: 1 0 75%;
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: start;
}

.bottomNav a {
  text-decoration: none;
  color: #333; /* Adjust link color as needed */
  font-size: medium;
}

/* Footer Styling */
.footer {
  font-size: xx-small;
  padding: 30px;
  clear: both;
  text-align: center;
}

/* Media screen styling */
@media screen and (max-width: 780px) {
  /* Stack elements on top of each other when screen size is 780px or smaller */
  header {
    flex-direction: column;
    align-items: center;
  }

  .topNav {
    margin-top: 20px;
    text-align: center;

  }
  .topNav li {
    margin: 10px 0;
  }

  .hero-banner h2 {
    font-size: 25px; /* Adjusted font size for smaller screens */
    bottom: 10px; /* Adjusted bottom position */
  }

  .container,
  .workcontainer,
  .projects,
  .project-group,
  .contact-container {
    flex-direction: column;
  }

  .container h2,
  .workcontainer h2,
  .contact-container h2 {
    width: auto;
    margin-left: 0;
    border-right: none;
  }

  .container img.profile {
    margin: 20px auto;
  }

  .project-group {
    width: 100%;
  }

  .bottomNav {
    flex-direction: column;
    align-items: center;
  }

  .bottomNav li {
    margin: 10px 0;
  }
}